section{
    display: flex;
    background: yellow;
}
article{
    width: 100px;
    height: 100px;
    background: red;
}
section, article{
    border: solid 2rem;
    margin: 1rem;
    border-radius: 1rem;
}
#izq{justify-content: flex-start;}
#der{justify-content: end;}
#center{justify-content: center;}
#between{justify-content: space-between;}
#around{justify-content: space-around;}
#evenly{justify-content: space-evenly;}

